body {
  background-image: url("https://cdn.dribbble.com/users/47606/screenshots/11021235/media/b83023c7781e7ebc5fa322bceaa8e79f.png");
  font-family: 'Actor';
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9,1fr); 
  justify-items: center;
  grid-gap: .3rem;
}

section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1em;
  margin: 1vh;
  height: 30vh;
  width: 80%;
  overflow: auto;
}
/* 
.waterToday {
  height: 30px;
  width: 40%;
} */

h1 {
  font-size: 4em;
}

.welcome {
  display: flex;
  justify-content: center;
}

h2 {
  font-style: italic;
  font-size: 2.5em;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

p {
  font-size: 1.25vw;
  margin: 4px 20px 2px 20px;
  padding: 0em;
}

.spaced {
  font-size: 1.6vw;
  margin: .4vh 2vw 0vh 2vw;
  padding: 0vh;
}

.alignLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.medium {
  font-size: 2.3vw;
}

.big {
  font-size: 4.5vw;
}

/* @media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: .5rem;
  }

  section {
    margin: 1vh;
    height: 30vh;
    width: 45vw;
    overflow: auto;
  }
}
/* // IPAD (Middle Size) - 2 COLUMNS
@media screen and (min-width: 481) {

//Desktop (Large Size) - 3 COLUMNS
@media screen and (min-width: 1025) { */













/* body {
  background-image: url("https://cdn.dribbble.com/users/47606/screenshots/11021235/media/b83023c7781e7ebc5fa322bceaa8e79f.png");
  font-family: 'Actor';
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);  
  grid-gap: .5rem;
}

section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .9em;
  margin: 1vh;
  height: 30vh;
  width: 30vw;
  overflow: auto;
}

h1 {
  font-size: 4em;
}

.welcome {
  display: flex;
  justify-content: center;
}

h2 {
  font-style: italic;
  font-size: 2.6vw;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

p {
  font-size: 1.25vw;
  margin: 4px 20px 2px 20px;
  padding: 0em;
}

.spaced {
  font-size: 1.6vw;
  margin: .4vh 2vw 0vh 2vw;
  padding: 0vh;
}

.alignLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.medium {
  font-size: 2.3vw;
}

.big {
  font-size: 4.5vw;
} */

/* @media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: .5rem;
  }

  section {
    margin: 1vh;
    height: 30vh;
    width: 45vw;
    overflow: auto;
  }
}

@media screen and (max-width: 375px) {
  body {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(9,1fr);
    grid-gap: .5rem;
  }

  section {
    margin: 1vh;
    height: 30vh;
    width: 90vw;
    overflow: auto;
  }
} */